<%= link_to 'New Institution', new_institution_path %>

<table>

	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>

	<% @institutions.each do |institution| %>
	<tr>
		<td><%= institution.title %></td>
		
		<td>
			<%= link_to 'Delete', institution_path(institution), method: :delete, data: {confirm: 'Are you sure?'} %>
		</td>
	</tr>
	<% end %>
</table>