<%= link_to 'New category', new_category_path %>

<table>

  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
 
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.title %></td>
      <td>
        <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>