<% @categories.each do |category| %>

    <tr>

      <td><%= category.title %></td>

      <td>

        <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %>

      </td>

    </tr>

  <% end %>

