<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        &#x2630;
      </button>

      <%= link_to 'All institutions', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= link_to 'Categories', categories_path, class: 'navbar-brand' %>
        </li>
        
        
        <ul class="nav navbar-nav">
          <%= link_to 'Reviews', reviews_path, class: 'navbar-brand' %>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <div>
       <%= link_to 'Sign in', new_user_session_path, class: 'navbar-brand' %>
     </div>
     <% if user_signed_in? %>
     <div class="nav-item">
      <span class="navbar-text">
        Hello, &nbsp;
      </span>
    </div>
  </div>


  <div class="dropdown show">
    <%= link_to current_user.email, edit_user_registration_path(current_user), class: 'btn btn-secondary dropdown-toggle', 'role' => "button", 'id' => "dropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false" %>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'dropdown-item' %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    </div>
    <div>
      <% end %>
    </div>
  </div>
</div>
</div>

</nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>